//
// common__target__osx.xcconfig
// Brian T. Kelley <brian@briantkelley.com>
//
// Xcode settings applicable to all OS X targets and configurations
//


// Architectures
ARCHS = $(ARCHS_STANDARD_64_BIT)
SDKROOT = macosx10.11

// Deployment
MACOSX_DEPLOYMENT_TARGET = 10.11

// Deployment (OS X)
COMBINE_HIDPI_IMAGES = YES
