//
// common__target__ios.xcconfig
// Brian T. Kelley <brian@briantkelley.com>
//
// Xcode settings applicable to all iOS targets and configurations
//


// Architectures
ARCHS = $(ARCHS_STANDARD)
SDKROOT = iphoneos9.0

// Build Options
ENABLE_BITCODE = NO

// Code Signing
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iOS Developer

// Deployment (iOS)
IPHONEOS_DEPLOYMENT_TARGET = 9.0
