// Copyright (c) 2014-2024 Brian T. Kelley

#include "config_all.xcconfig"

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
VALIDATE_PRODUCT = YES

// Apple Clang - Code Generation
GCC_OPTIMIZATION_LEVEL = s
LLVM_LTO = YES

// Apple Clang - Preprocessing
ENABLE_NS_ASSERTIONS = NO
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) NDEBUG=1

// Metal Compiler - Build Options
MTL_ENABLE_DEBUG_INFO = NO

// Swift Compiler - Code Generation
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -Osize
