// Copyright (c) 2014-2023 Brian T. Kelley

#include "config_all.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = YES

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES

// Apple Clang - Address Sanitizer
CLANG_ADDRESS_SANITIZER_CONTAINER_OVERFLOW = YES

// Apple Clang - Code Generation
GCC_OPTIMIZATION_LEVEL = 0

// Apple Clang - Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1

// Apple Clang - Undefined Behavior Sanitizer
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_INTEGER = YES
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_NULLABILITY = YES

// Metal Compiler - Build Options
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE

// Swift Compiler - Code Generation
SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone

// Swift Compiler - Custom Flags
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
